body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
p.success { color: green; }
p.danger { color: red; }
p.warning { color: orange; }

span.student {
    color: blue;
}
span.instructor {
    color: green;
}
